<section
  class="w-screen h-screen p-4 flex flex-col justify-start items-center gap-y-7"
>
  <app-header class="w-full"></app-header>

  <main class="w-full lg:w-3/4 h-full flex flex-col justify-start items-center gap-y-10">
    <!--REPOSITORY OWNER DETAİL-->
    <div class="flex flex-row justify-start items-center gap-x-2 w-full">
      <img src="" alt="" class="w-16 h-16 object-cover" />
      <span class="w-full flex flex-col justify-start items-start">
        <h3>John Does</h3>
        <p>Gaziantep, Turkey</p>
        <a href="mailto:test@test.com"></a>
      </span>
    </div>
    <!--ISSUES-->
    <ul>
      <li>
        first issue
      </li>
    </ul>
  </main>
</section>
